{% extends "main/index_page.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}All{% endif %}
{% endblock title%}

{% block content %}
<section class="main-section" id="service">
<div class="container">
    <h2>Catalog</h2>
    <h6>Best jewelry for you.</h6>
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %} >
                <a href="/catalog" >All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}All{% endif %}</h1>
        {% for product in products %}
            <div class="item" style="float:left; margin: 10px 10px 10px 10px;">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}">
                </a>
                <div class="product-list">
                    <a href="{{ product.get_absolute_url }}" class="product">{{ product.name }}</a>
                    <br>
                    <span class="price">${{ product.price }}</span>
                </div>
            </div>
        {% endfor %}
    </div>

<!--<section class="main-section paddind" id="Portfolio">-->
<!--		<div class="container">-->
<!--			<h2>Catalog</h2>-->
<!--			<h6>Best jewelry for you.</h6>-->
<!--            <h3 style="text-align: center;">Categories</h3>-->
<!--			<div class="portfolioFilter">-->
<!--				<ul class="Portfolio-nav wow fadeIn delay-02s">-->
<!--					<li {% if not category %}class="selected"{% endif %} >-->
<!--                        <a href="/catalog" >All</a>-->
<!--                    </li>-->

<!--                    {% for c in categories %}-->
<!--                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>-->
<!--                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>-->
<!--                    </li>-->
<!--                    {% endfor %}-->
<!--				</ul>-->
<!--			</div>-->


<!--            <div class="portfolioContainer wow fadeInUp delay-04s">-->
<!--                <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>-->
<!--                    {% for product in products %}-->
<!--                    <div class=" Portfolio-box printdesign">-->
<!--                        <a href="{{ product.get_absolute_url }}">-->
<!--                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}">-->
<!--                        </a>-->
<!--                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>-->
<!--                        ${{ product.price }}-->
<!--                    {% endfor %}-->
<!--                    </div>-->
<!--            </div>-->
<!--        </div>-->
<!--</section>-->
</div>
</section>
{% endblock content %}