{% extends "main/main_page.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_price }}</p>
    </div>
    <form action="." method="post" class="order-form">
        {%if user and email%}
            <p><label for="id_user">Name:</label>
            <input type="text" name="user_name" id="id_user"  value={{user}}></p>

            <p><label for="id_email">Email:</label>
            <input type="email" name="email" id="id_email"  value={{email}}></p>

            <p><label for="id_address">Address:</label>
            <input type="text" name="address" id="id_address" required></p>
        {%else%}
            {{ form.as_p }}
        {%endif%}

        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}